stBorder = 1px solid black
maxW = 1920px;

def-a()
  color: brown;
  &:link
    text-decoration: none;
  &:hover
    text-decoration: underline;

logo()
  border: black solid 1px;
  margin-left: 20px;
  padding: 5px 45px 5px 45px;
  font-size: 40px;
  border-radius: 4px;