table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
img{
    width: 100%;
    height: auto;
}
.two-images{
    display: flex;
    justify-content: space-between;
}
.two-images img {
    width: 48%;
    height: auto;
}
.main-table{
    width: 80%;
    max-width: 1920px;
    border: 1px solid black;
}
.main-table th{
    border: 1px solid black;
}
.main-table td{
    padding: 10px;
    vertical-align: top;
}
.main-cols{
    width: 40%;
}
.secondary-table{
    font-size: 10px;
}
.third-col{
    border-left: 1px solid black;
}
