@import "../globalVars.scss";

.main-container{
  padding: 15px;
  height: auto;
  display: flex;
  gap: 2em;
}
.categories{
  border: $stBorder;
  width: 30%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.goods{
  width: 200px;
  height: 300px;
  border: $stBorder;
}
.goods-description{
  border: 0;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
.buy-button{
  padding: 10px;
  max-height: 40px;
  align-self: center;
}