.first-container{
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > article{
    padding: 20px;
    max-width: 43%;
  }
}
.buttons{
  width: 350px;
  height: 60px;
}