@import "../globalVars.styl"

header
  padding: 14px;

div
  padding: 20px;

a
  def-a();

.top-link
  margin: 80px;

img
  width: 100%;

#top
  margin: 10px 0;
  text-align: center;

#left, #center, #right
  float: left;

header, #top, #left, #right
  border: stBorder;
  border-radius: 3px;

#center
  width: 60vw;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;

.sides
  width: 12vw;

#logo
  logo();

#search, #search-button
  float: right;

#search
  height: 40px;
  border-radius: 4px;
  font-size: 16px;

#search-button
  margin-right: 20px;
  height: 45px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
